<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Recherchez par titre"
        [(ngModel)]="title"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchTitle()"
        >
          Rechercher
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Liste des blogs</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let blog of blogs; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveBlog(blog, i)"
      >
        {{ blog.title }}
      </li>
    </ul>

    <button class="m-3 btn btn-block" id="sup" (click)="removeAllBlogs()">
      kill them All !!!
    </button>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentBlog">
      <h4>Blog</h4>
      <div>
        <label><strong>Titre:</strong></label> {{ currentBlog.title }}
      </div>
      <div class="detail">
        <label><strong>Description:</strong></label>
        {{ currentBlog.description }}
      </div>
      <div class="etat">
        <label><strong>Status:</strong></label>
        {{ currentBlog.published ? "Publié" : "En attente" }}
      </div>

      <a
        class="btn btn-block"
        id="mod"
        routerLink="/blogs/{{ currentBlog.id }}"
      >
        Modifier
      </a>
    </div>

    <div *ngIf="!currentBlog">
      <br />
      <p>Choisissez un article de blog...</p>
    </div><div class="card-header">Liste des images</div>
    <div class="card images">
      
      <div class="" *ngFor="let file of fileInfos | async">
        <div class="tableau">
          <!-- <p><a href="{{ file.url }}">{{ file.name }}</a></p> -->

          <img src="{{ file.url }}" alt="{{ file.name }}" height="120px" class="item" />
        </div>
      </div>
    </div>
  </div>
</div>
