<div style="width: 400px; margin: auto;">
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="title">Titre</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="blog.title"
          name="title"
        />
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input
          class="form-control"
          id="description"
          required
          [(ngModel)]="blog.description"
          name="description"
        />
      </div>
<app-upload></app-upload>
      <button (click)="saveBlog()" class="btn btn-success">Envoyer</button>
    </div>

    <div *ngIf="submitted">
      <h4>C'est parti !</h4>
      <button class="btn btn-success" (click)="newBlog()">Ajouter</button>
    </div>
  </div>
</div>
