<div>
  <div *ngIf="currentBlog" class="edit-form">
    <h4>Blog</h4>
    <form>
      <div class="form-group">
        <label for="title">Titre</label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="currentBlog.title"
          name="title"
        />
      </div>
      <div class="form-group">
        <label for="description" class="description_int">Description</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="currentBlog.description"
          name="description"
        />
        <div class="description">
            {{ currentBlog.description}}
        </div>
      
      </div>

      <div class="form-group">
        <label><strong>Status:</strong></label>
        {{ currentBlog.published ? "Publié" : "En attente" }}
      </div>
    </form>

    <button
      class="btn btn-md  mr-2 wait"
      *ngIf="currentBlog.published"
      (click)="updatePublished(false)"
    >
      Mettre en attente
    </button>
    <button
      *ngIf="!currentBlog.published"
      class="btn btn-md mr-2 wait"
      (click)="updatePublished(true)"
    >
      Publier
    </button>

    <button class="btn btn-md mr-2" id="del" (click)="deleteBlog()">
      Effacer
    </button>

    <button
      type="submit"
      class="btn btn-md" id="up"
      (click)="updateBlog()"
    >
      Mettre à jour
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentBlog">
    <br />
    <p>Blog inaccessible ...</p>
  </div>
</div>
