<head>
  <link href = "https://fonts.googleapis.com/css2? family = Exo + 2: wght @ 600 & display = swap" rel = "styleheet">
  <link href = "https://fonts.googleapis.com/css2? family = Exo + 2: ital, wght @ 1,600 & display = swap" rel = "stylesheet">
 </head>

<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark col-12">
    
    <div class="navbar-nav col-2">
      <li class="nav-item">
        <a routerLink="blogs" class="nav-link"><h3>Blogs  </h3></a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link"><h3>Ajouter  </h3></a>
      </li>
    </div>
    <div class="col-8 d-flex justify-content-center">
      <a href="#" class="navbar-brand"><h1>Tetsuo blog</h1></a>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
